---
layout: main
---

{{ content }}
<div class="intro_wrapper">
  <h1>Thank you for visiting!</h1>
  <p style="padding-left: 7px;">
  <span style="font-weight: bold;">Working From Road</span> is two recent college graduates' attempt to document their journey across the United States - one reasonably priced Airbnb at a time.</p>
  <p style="padding-left: 7px;">Each stay will last at least <strong>4 weeks</strong> with potential side quests to nearby locations.</p> 
</div>


<div class="map_instructions">
  Click a <i class="fas fa-map-marker-alt"></i> on the map below to read about our time there
</div>
<div class="image_wrapper">
  <img src="assets/images/Site/map.png" usemap="#image-map" id="usa_img" alt="travel-map" class="full" loading="eager">
  <map name="image-map" id="usa_mapping">
    <area target="_self" alt="Billings, Montana" title="Billings, Montana" href="/billings-mt/" coords="170,44,223,86" shape="rect">
    <area target="_self" alt="Cody, Wyoming" title="Cody, Wyoming" href="/cody-wy/" coords="166,128,205,90" shape="rect">
    <area target="_self" alt="Epping, North Dakota" title="Epping, North Dakota" href="/epping-nd/" coords="236,77,284,35" shape="rect">
    <area autofocus target="_self" alt="Minneapolis, Minnesota" title="Minneapolis, Minnesota" href="/minneapolis-mn/" coords="310,122,400,82" shape="rect">
  </map>
</div>
<div class="small-text muted" style="padding: 0px 0px 50px 0px; text-align: center;"><em>Map will be updated as new locations are visited and written about</em></div>
<div class="content_wrapper">
<h1>Latest Post</h1>
{% assign newestPosts = site.posts | where_exp: "item", "item.hidden != true" %}
{% for post in newestPosts limit:1 %}
  {% include archive-single.html type=entries_layout %}
{% endfor %}
</div>
