---
layout: archive
author_profile: true
---

{{ content }}

<p>Click a pin from the map below</p>
<img src="assets/images/Site/usmap.jpg" usemap="#image-map" id="usa_img" alt="travel-map" class="full">

<map name="image-map" id="usa_mapping">
  <area target="_self" alt="Test Post" title="Test Post" href="/test-post/" coords="30,30,140,140" autofocus shape="rect">
</map>


<h1>Latest Post</h1>

{% assign newestPosts = site.posts | where_exp: "item", "item.hidden != true" %}
{% for post in newestPosts limit:1 %}
  {% include archive-single.html type=entries_layout %}
{% endfor %}
